
.tech{
    max-width: 1400;
    display:flex;
    justify-content: space-around;
}
.techwave{
    background-color: #1A0B2E;
    max-width:1600px;
}
.wa{
    color:Linear;
    
}
.list-item{
    display:flex;
    list-style:none;
    gap:32px;
    text-align: center;
    
}
.nav-link{
    text-decoration: none;
    color:#FFFFFF;
    
}
.nav-item{
    font-weight: 600px;
    color:#FFFFFF;
}
.nav-item.wa{
    font-weight: 600px;
    color:linear-gradient(#F7E93F,#FB09B4,#9100F8);
}
.btn{
    max-width: 200px;
    font-weight: 600px;
     background:linear-gradient(#F7E93F,#FB09B4,#9100F8);
     border-radius: 20px;
     margin-top:24px;
     margin-bottom:24px;
     color:#FFFFFF;
     
}
.banner{
    max-width:1400px;
    display:flex;
    flex-direction: column;
    align-items: center;
    

}
.hero{
    max-width:1400px;
    position:relative;
}
.circle{
    max-width:350px;
    position:absolute;
    top: 300px;
    left: 500px;
    
}
.micro{
     width:180px;
    position:absolute;
    top:300px;
    left:600px;
    
}
.banner .techwave{
    width:500px;
    margin:0;
}
.tec{
    font-weight: 600;
    color:#FFFFFF;
    text-align: center;
}
.daily{
    color:#FFFFFF;
}
.btn-container{
    display:flex;
    justify-content: center;
    gap:20px;
}
.btn1{
    width:200px;
    background: linear-gradient(#F7E93F,#FB09B4,#9100F8);
}
.btn2{
    background:#00FF88;
    width:147;
}
.about .about-container{
    display:flex;
    gap: 2px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:#FFFFFF;
}
.num-container{
    display:flex;
    gap:20px;
    justify-content: space-around;
    max-width: 1000;
    margin:0 auto;
    color:#00FF88;
}
.about{
    max-width: 1600px;
    background-color: #1A0B2E;
    
}
    
