
.tech{
    max-width: 1400;
    display:flex;
    justify-content: space-around;
}
.techwave{
    background-color: #1A0B2E;
    max-width:1500px;
}
.wa{
    color:Linear;
    
}
.list-item{
    display:flex;
    list-style:none;
    gap:32px;
    text-align: center;
    
}
.nav-link{
    text-decoration: none;
    color:#FFFFFF;
    
}
.nav-item{
    font-weight: 600px;
    color:#FFFFFF;
}
.nav-item.wa{
    font-weight: 600px;
    color:linear-gradient(#F7E93F,#FB09B4,#9100F8);
}
.btn{
    max-width: 200px;
    font-weight: 600px;
     background:linear-gradient(#F7E93F,#FB09B4,#9100F8);
     border-radius: 20px;
     margin-top:24px;
     margin-bottom:24px;
     color:#FFFFFF;
     
}
